{% extends 'base.html' %}

{% block content %}
    <h1>Signup Project</h1>
    <a href="{% url 'new' %}">Write Your information</a>

    {% for person in people %}
        <div>
            <p>
                <p><img src="{{person.image.url}}" alt="" width="200" height="170"></p>
            </p>
            <h3>
                {{person.name}}
            </h3>
            {{person.pub_date}}
            <br>
            {{person.age}}
            <br>
            {{person.email}}
            <br>
            {{person.summary}}
            <a href="{% url 'detail' person.id %}">...more</a>
        </div>
    {% endfor %}

{% endblock %}